<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    

    <div id="app">
        <button v-on:click="show=!show">Скрыть / Показать</button>
     <p v-if='show'>Текст, который может стать невидимым</p>
     <p v-else> {{ message | lowerCase | capitalize }} </p>

     <ul>
         <li v-for="(car, i) in cars"> {{ i+1 }}. {{ car.model }}, скорость: {{ car.speed }}</li>

     </ul>
     

    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main05.js"></script>
</body>
</html>