<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--<link rel="stylesheet" href="style05.css">-->
</head>
<body>
    <div id="app">

        <input type="text" v-model="input" autofocus>

        <ul>
            <li v-for="item in array | filterBy input in 'name'">{{ item.name }}, {{ item.age }}</li>
        </ul>

    </div>



    <script src="https://cdn.jsdelivr.net/vue/1.0.28/vue.min.js"></script> 

    <script>

        new Vue ({
            el: "#app",
            data:{
                input: '',
                array: [
                    {
                        name: 'Иван',
                        age: 45
                    },
                    {
                        name: 'Вика',
                        age: 19
                    },
                    {
                        name: 'Иван',
                        age: 29
                    },
                    {
                        name: 'Максим',
                        age: 20
                    }
                ]
            }
        })
    </script>
</body>
</html>