<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">

        <form>

            <span>{{ count }} / 30</span>

            <textarea v-model="text"></textarea>

            <button v-if="count <= 30">Отправить</button>

        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/vue/1.0.28/vue.min.js"></script>

    <script>
        new Vue ({
            el: "#app",
            data: {
                text: ''
            },
            computed: {
                count: function() {
                    return this.text.length
                }
            }

        })
    </script>
</body>
</html>